*{
	box-sizing: border-box;
}
body {
	font-family: "openSans";
}
#wrapper {
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
}
.clear {
	clear: both;
}
.raw {
	margin: 0 -20px;
}
.xs-grid-1, .xs-grid-2, .xs-grid-3, .xs-grid-4, .xs-grid-5, .xs-grid-6, .xs-grid-7, .xs-grid-8, .xs-grid-9, .xs-grid-10, .xs-grid-11, .xs-grid-12, .xs-grid-13, .xs-grid-14, .xs-grid-15, .xs-grid-16, .xs-grid-17, .xs-grid-18, .xs-grid-19, .xs-grid-20, .xs-grid-21, .xs-grid-22, .xs-grid-23, .xs-grid-24,
.s-grid-1, .s-grid-2, .s-grid-3, .s-grid-4, .s-grid-5, .s-grid-6, .s-grid-7, .s-grid-8, .s-grid-9, .s-grid-10, .s-grid-11, .s-grid-12, .s-grid-13, .s-grid-14, .s-grid-15, .s-grid-16, .s-grid-17, .s-grid-18, .s-grid-19, .s-grid-20, .s-grid-21, .s-grid-22, .s-grid-23, .s-grid-24,
.m-grid-1, .m-grid-2, .m-grid-3, .m-grid-4, .m-grid-5, .m-grid-6, .m-grid-7, .m-grid-8, .m-grid-9, .m-grid-10, .m-grid-11, .m-grid-12, .m-grid-13, .m-grid-14, .m-grid-15, .m-grid-16, .m-grid-17, .m-grid-18, .m-grid-19, .m-grid-20, .m-grid-21, .m-grid-22, .m-grid-23, .m-grid-24,
.l-grid-1, .l-grid-2, .l-grid-3, .l-grid-4, .l-grid-5, .l-grid-6, .l-grid-7, .l-grid-8, .l-grid-9, .l-grid-10, .l-grid-11, .l-grid-12, .l-grid-13, .l-grid-14, .l-grid-15, .l-grid-16, .l-grid-17, .l-grid-18, .l-grid-19, .l-grid-20, .l-grid-21, .l-grid-22, .l-grid-23, .l-grid-24,
.xl-grid-1, .xl-grid-2, .xl-grid-3, .xl-grid-4, .xl-grid-5, .xl-grid-6, .xl-grid-7, .xl-grid-8, .xl-grid-9, .xl-grid-10, .xl-grid-11, .xl-grid-12, .xl-grid-13, .xl-grid-14, .xl-grid-15, .xl-grid-16, .xl-grid-17, .xl-grid-18, .xl-grid-19, .xl-grid-20, .xl-grid-21, .xl-grid-22, .xl-grid-23, .xl-grid-24,
.xxl-grid-1, .xxl-grid-2, .xxl-grid-3, .xxl-grid-4, .xxl-grid-5, .xxl-grid-6, .xxl-grid-7, .xxl-grid-8, .xxl-grid-9, .xxl-grid-10, .xxl-grid-11, .xxl-grid-12, .xxl-grid-13, .xxl-grid-14, .xxl-grid-15, .xxl-grid-16, .xxl-grid-17, .xxl-grid-18, .xxl-grid-19, .xxl-grid-20, .xxl-grid-21, .xxl-grid-22, .xxl-grid-23, .xxl-grid-24 {
	position: relative;
	padding: 0 20px;
}
.xs-hide, .s-hide, .m-hide, .l-hide, .xl-hide, .xxl-hide {
	display: none;
}
/********************/
/*	RESPONSIVE		*/
/********************/
@media all and (min-width: 640px) {
	#wrapper {
		max-width: 600px;
	}
	.columns-6 {
		.xs-grid-1 {
			float: left;
			width: 16.66%;
		}
		.xs-grid-2 {
			float: left;
			width: 33.33%;
		}
		.xs-grid-3 {
			float: left;
			width: 50%;
		}
		.xs-grid-4 {
			float: left;
			width: 66.66%;
		}
		.xs-grid-5 {
			float: left;
			width: 83.33%;
		}
		.xs-grid-6 {
			float: left;
			width: 100%;
		}
		.xs-grid-offset-1 {
			margin-left: 16.66%;
		}
		.xs-grid-offset-2 {
			margin-left: 33.33%;
		}
		.xs-grid-offset-3 {
			margin-left: 50%;
		}
		.xs-grid-offset-4 {
			margin-left: 66.66%;
		}
		.xs-grid-offset-5 {
			margin-left: 83.33%;
		}
		.xs-grid-offset-6 {
			margin-left: 100%;
		}
	}
	.columns-12 {
		.xs-grid-1 {
			float: left;
			width: 8.33%;
		}
		.xs-grid-2 {
			float: left;
			width: 16.66%;
		}
		.xs-grid-3 {
			float: left;
			width: 25%;
		}
		.xs-grid-4 {
			float: left;
			width: 33.33%;
		}
		.xs-grid-5 {
			float: left;
			width: 41.66%;
		}
		.xs-grid-6 {
			float: left;
			width: 50%;
		}
		.xs-grid-7 {
			float: left;
			width: 58.33%;
		}
		.xs-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xs-grid-9 {
			float: left;
			width: 75%;
		}
		.xs-grid-10 {
			float: left;
			width: 83.33%;
		}
		.xs-grid-11 {
			float: left;
			width: 91.66%;
		}
		.xs-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.columns-24 {
		.xs-grid-1 {
			float: left;
			width: 4.16%;
		}
		.xs-grid-2 {
			float: left;
			width: 8.33%;
		}
		.xs-grid-3 {
			float: left;
			width: 12.5%;
		}
		.xs-grid-4 {
			float: left;
			width: 16.66%;
		}
		.xs-grid-5 {
			float: left;
			width: 20.83%;
		}
		.xs-grid-6 {
			float: left;
			width: 25%;
		}
		.xs-grid-7 {
			float: left;
			width: 29.16%;
		}
		.xs-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xs-grid-9 {
			float: left;
			width: 35.5%;
		}
		.xs-grid-10 {
			float: left;
			width: 41.66%;
		}
		.xs-grid-11 {
			float: left;
			width: 45.83%;
		}
		.xs-grid-12 {
			float: left;
			width: 50%;
		}
		.xs-grid-13 {
			float: left;
			width: 54.17%;
		}
		.xs-grid-14 {
			float: left;
			width: 58.33%;
		}
		.xs-grid-15 {
			float: left;
			width: 62.5%;
		}
		.xs-grid-16 {
			float: left;
			width: 66.66%;
		}
		.xs-grid-17 {
			float: left;
			width: 70.83%;
		}
		.xs-grid-18 {
			float: left;
			width: 75%;
		}
		.xs-grid-19 {
			float: left;
			width: 79.16%;
		}
		.xs-grid-20 {
			float: left;
			width: 83.33%;
		}
		.xs-grid-21 {
			float: left;
			width: 87.5%;
		}
		.xs-grid-22 {
			float: left;
			width: 91.66%;
		}
		.xs-grid-23 {
			float: left;
			width: 95.83%;
		}
		.xs-grid-24 {
			float: left;
			width: 100%;
		}
	}
	.xs-hide {
		display: block;
	}
}
@media all and (min-width: 768px) {
	#wrapper {
		max-width: 728px;
	}
	.columns-6 {
		.s-grid-1 {
			float: left;
			width: 16.66%;
		}
		.s-grid-2 {
			float: left;
			width: 33.33%;
		}
		.s-grid-3 {
			float: left;
			width: 50%;
		}
		.s-grid-4 {
			float: left;
			width: 66.66%;
		}
		.s-grid-5 {
			float: left;
			width: 83.33%;
		}
		.s-grid-6 {
			float: left;
			width: 100%;
		}
		.s-grid-offset-1 {
			margin-left: 16.66%;
		}
		.s-grid-offset-2 {
			margin-left: 33.33%;
		}
		.s-grid-offset-3 {
			margin-left: 50%;
		}
		.s-grid-offset-4 {
			margin-left: 66.66%;
		}
		.s-grid-offset-5 {
			margin-left: 83.33%;
		}
		.s-grid-offset-6 {
			margin-left: 100%;
		}
	}
	.columns-12 {
		.s-grid-1 {
			float: left;
			width: 8.33%;
		}
		.s-grid-2 {
			float: left;
			width: 16.66%;
		}
		.s-grid-3 {
			float: left;
			width: 25%;
		}
		.s-grid-4 {
			float: left;
			width: 33.33%;
		}
		.s-grid-5 {
			float: left;
			width: 41.66%;
		}
		.s-grid-6 {
			float: left;
			width: 50%;
		}
		.s-grid-7 {
			float: left;
			width: 58.33%;
		}
		.s-grid-8 {
			float: left;
			width: 66.66%;
		}
		.s-grid-9 {
			float: left;
			width: 75%;
		}
		.s-grid-10 {
			float: left;
			width: 83.33%;
		}
		.s-grid-11 {
			float: left;
			width: 91.66%;
		}
		.s-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.columns-24 {
		.s-grid-1 {
			float: left;
			width: 4.16%;
		}
		.s-grid-2 {
			float: left;
			width: 8.33%;
		}
		.s-grid-3 {
			float: left;
			width: 12.5%;
		}
		.s-grid-4 {
			float: left;
			width: 16.66%;
		}
		.s-grid-5 {
			float: left;
			width: 20.83%;
		}
		.s-grid-6 {
			float: left;
			width: 25%;
		}
		.s-grid-7 {
			float: left;
			width: 29.16%;
		}
		.s-grid-8 {
			float: left;
			width: 66.66%;
		}
		.s-grid-9 {
			float: left;
			width: 35.5%;
		}
		.s-grid-10 {
			float: left;
			width: 41.66%;
		}
		.s-grid-11 {
			float: left;
			width: 45.83%;
		}
		.s-grid-12 {
			float: left;
			width: 50%;
		}
		.s-grid-13 {
			float: left;
			width: 54.17%;
		}
		.s-grid-14 {
			float: left;
			width: 58.33%;
		}
		.s-grid-15 {
			float: left;
			width: 62.5%;
		}
		.s-grid-16 {
			float: left;
			width: 66.66%;
		}
		.s-grid-17 {
			float: left;
			width: 70.83%;
		}
		.s-grid-18 {
			float: left;
			width: 75%;
		}
		.s-grid-19 {
			float: left;
			width: 79.16%;
		}
		.s-grid-20 {
			float: left;
			width: 83.33%;
		}
		.s-grid-21 {
			float: left;
			width: 87.5%;
		}
		.s-grid-22 {
			float: left;
			width: 91.66%;
		}
		.s-grid-23 {
			float: left;
			width: 95.83%;
		}
		.s-grid-24 {
			float: left;
			width: 100%;
		}
	}
	.s-hide {
		display: block;
	}
}
@media all and (min-width: 992px) {
	#wrapper {
		max-width: 952px;
	}
	.columns-6 {
		.m-grid-1 {
			float: left;
			width: 16.66%;
		}
		.m-grid-2 {
			float: left;
			width: 33.33%;
		}
		.m-grid-3 {
			float: left;
			width: 50%;
		}
		.m-grid-4 {
			float: left;
			width: 66.66%;
		}
		.m-grid-5 {
			float: left;
			width: 83.33%;
		}
		.m-grid-6 {
			float: left;
			width: 100%;
		}
		.m-grid-offset-1 {
			margin-left: 16.66%;
		}
		.m-grid-offset-2 {
			margin-left: 33.33%;
		}
		.m-grid-offset-3 {
			margin-left: 50%;
		}
		.m-grid-offset-4 {
			margin-left: 66.66%;
		}
		.m-grid-offset-5 {
			margin-left: 83.33%;
		}
		.m-grid-offset-6 {
			margin-left: 100%;
		}
	}
	.columns-12 {
		.m-grid-1 {
			float: left;
			width: 8.33%;
		}
		.m-grid-2 {
			float: left;
			width: 16.66%;
		}
		.m-grid-3 {
			float: left;
			width: 25%;
		}
		.m-grid-4 {
			float: left;
			width: 33.33%;
		}
		.m-grid-5 {
			float: left;
			width: 41.66%;
		}
		.m-grid-6 {
			float: left;
			width: 50%;
		}
		.m-grid-7 {
			float: left;
			width: 58.33%;
		}
		.m-grid-8 {
			float: left;
			width: 66.66%;
		}
		.m-grid-9 {
			float: left;
			width: 75%;
		}
		.m-grid-10 {
			float: left;
			width: 83.33%;
		}
		.m-grid-11 {
			float: left;
			width: 91.66%;
		}
		.m-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.columns-24 {
		.m-grid-1 {
			float: left;
			width: 4.16%;
		}
		.m-grid-2 {
			float: left;
			width: 8.33%;
		}
		.m-grid-3 {
			float: left;
			width: 12.5%;
		}
		.m-grid-4 {
			float: left;
			width: 16.66%;
		}
		.m-grid-5 {
			float: left;
			width: 20.83%;
		}
		.m-grid-6 {
			float: left;
			width: 25%;
		}
		.m-grid-7 {
			float: left;
			width: 29.16%;
		}
		.m-grid-8 {
			float: left;
			width: 66.66%;
		}
		.m-grid-9 {
			float: left;
			width: 35.5%;
		}
		.m-grid-10 {
			float: left;
			width: 41.66%;
		}
		.m-grid-11 {
			float: left;
			width: 45.83%;
		}
		.m-grid-12 {
			float: left;
			width: 50%;
		}
		.m-grid-13 {
			float: left;
			width: 54.17%;
		}
		.m-grid-14 {
			float: left;
			width: 58.33%;
		}
		.m-grid-15 {
			float: left;
			width: 62.5%;
		}
		.m-grid-16 {
			float: left;
			width: 66.66%;
		}
		.m-grid-17 {
			float: left;
			width: 70.83%;
		}
		.m-grid-18 {
			float: left;
			width: 75%;
		}
		.m-grid-19 {
			float: left;
			width: 79.16%;
		}
		.m-grid-20 {
			float: left;
			width: 83.33%;
		}
		.m-grid-21 {
			float: left;
			width: 87.5%;
		}
		.m-grid-22 {
			float: left;
			width: 91.66%;
		}
		.m-grid-23 {
			float: left;
			width: 95.83%;
		}
		.m-grid-24 {
			float: left;
			width: 100%;
		}
	}
	.m-hide {
		display: block;
	}
}
@media all and (min-width: 1200px) {
	#wrapper {
		max-width: 1160px;
	}
	.columns-6 {
		.l-grid-1 {
			float: left;
			width: 16.66%;
		}
		.l-grid-2 {
			float: left;
			width: 33.33%;
		}
		.l-grid-3 {
			float: left;
			width: 50%;
		}
		.l-grid-4 {
			float: left;
			width: 66.66%;
		}
		.l-grid-5 {
			float: left;
			width: 83.33%;
		}
		.l-grid-6 {
			float: left;
			width: 100%;
		}
		.l-grid-offset-1 {
			margin-left: 16.66%;
		}
		.l-grid-offset-2 {
			margin-left: 33.33%;
		}
		.l-grid-offset-3 {
			margin-left: 50%;
		}
		.l-grid-offset-4 {
			margin-left: 66.66%;
		}
		.l-grid-offset-5 {
			margin-left: 83.33%;
		}
		.l-grid-offset-6 {
			margin-left: 100%;
		}
	}
	.columns-12 {
		.l-grid-1 {
			float: left;
			width: 8.33%;
		}
		.l-grid-2 {
			float: left;
			width: 16.66%;
		}
		.l-grid-3 {
			float: left;
			width: 25%;
		}
		.l-grid-4 {
			float: left;
			width: 33.33%;
		}
		.l-grid-5 {
			float: left;
			width: 41.66%;
		}
		.l-grid-6 {
			float: left;
			width: 50%;
		}
		.l-grid-7 {
			float: left;
			width: 58.33%;
		}
		.l-grid-8 {
			float: left;
			width: 66.66%;
		}
		.l-grid-9 {
			float: left;
			width: 75%;
		}
		.l-grid-10 {
			float: left;
			width: 83.33%;
		}
		.l-grid-11 {
			float: left;
			width: 91.66%;
		}
		.l-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.columns-24 {
		.l-grid-1 {
			float: left;
			width: 4.16%;
		}
		.l-grid-2 {
			float: left;
			width: 8.33%;
		}
		.l-grid-3 {
			float: left;
			width: 12.5%;
		}
		.l-grid-4 {
			float: left;
			width: 16.66%;
		}
		.l-grid-5 {
			float: left;
			width: 20.83%;
		}
		.l-grid-6 {
			float: left;
			width: 25%;
		}
		.l-grid-7 {
			float: left;
			width: 29.16%;
		}
		.l-grid-8 {
			float: left;
			width: 66.66%;
		}
		.l-grid-9 {
			float: left;
			width: 35.5%;
		}
		.l-grid-10 {
			float: left;
			width: 41.66%;
		}
		.l-grid-11 {
			float: left;
			width: 45.83%;
		}
		.l-grid-12 {
			float: left;
			width: 50%;
		}
		.l-grid-13 {
			float: left;
			width: 54.17%;
		}
		.l-grid-14 {
			float: left;
			width: 58.33%;
		}
		.l-grid-15 {
			float: left;
			width: 62.5%;
		}
		.l-grid-16 {
			float: left;
			width: 66.66%;
		}
		.l-grid-17 {
			float: left;
			width: 70.83%;
		}
		.l-grid-18 {
			float: left;
			width: 75%;
		}
		.l-grid-19 {
			float: left;
			width: 79.16%;
		}
		.l-grid-20 {
			float: left;
			width: 83.33%;
		}
		.l-grid-21 {
			float: left;
			width: 87.5%;
		}
		.l-grid-22 {
			float: left;
			width: 91.66%;
		}
		.l-grid-23 {
			float: left;
			width: 95.83%;
		}
		.l-grid-24 {
			float: left;
			width: 100%;
		}
	}
	.l-hide {
		display: block;
	}
}
@media all and (min-width: 1400px) {
	#wrapper {
		max-width: 1360px;
	}
	.columns-6 {
		.xl-grid-1 {
			float: left;
			width: 16.66%;
		}
		.xl-grid-2 {
			float: left;
			width: 33.33%;
		}
		.xl-grid-3 {
			float: left;
			width: 50%;
		}
		.xl-grid-4 {
			float: left;
			width: 66.66%;
		}
		.xl-grid-5 {
			float: left;
			width: 83.33%;
		}
		.xl-grid-6 {
			float: left;
			width: 100%;
		}
		.xl-grid-offset-1 {
			margin-left: 16.66%;
		}
		.xl-grid-offset-2 {
			margin-left: 33.33%;
		}
		.xl-grid-offset-3 {
			margin-left: 50%;
		}
		.xl-grid-offset-4 {
			margin-left: 66.66%;
		}
		.xl-grid-offset-5 {
			margin-left: 83.33%;
		}
		.xl-grid-offset-6 {
			margin-left: 100%;
		}
	}
	.columns-12 {
		.xl-grid-1 {
			float: left;
			width: 8.33%;
		}
		.xl-grid-2 {
			float: left;
			width: 16.66%;
		}
		.xl-grid-3 {
			float: left;
			width: 25%;
		}
		.xl-grid-4 {
			float: left;
			width: 33.33%;
		}
		.xl-grid-5 {
			float: left;
			width: 41.66%;
		}
		.xl-grid-6 {
			float: left;
			width: 50%;
		}
		.xl-grid-7 {
			float: left;
			width: 58.33%;
		}
		.xl-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xl-grid-9 {
			float: left;
			width: 75%;
		}
		.xl-grid-10 {
			float: left;
			width: 83.33%;
		}
		.xl-grid-11 {
			float: left;
			width: 91.66%;
		}
		.xl-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.columns-24 {
		.xl-grid-1 {
			float: left;
			width: 4.16%;
		}
		.xl-grid-2 {
			float: left;
			width: 8.33%;
		}
		.xl-grid-3 {
			float: left;
			width: 12.5%;
		}
		.xl-grid-4 {
			float: left;
			width: 16.66%;
		}
		.xl-grid-5 {
			float: left;
			width: 20.83%;
		}
		.xl-grid-6 {
			float: left;
			width: 25%;
		}
		.xl-grid-7 {
			float: left;
			width: 29.16%;
		}
		.xl-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xl-grid-9 {
			float: left;
			width: 35.5%;
		}
		.xl-grid-10 {
			float: left;
			width: 41.66%;
		}
		.xl-grid-11 {
			float: left;
			width: 45.83%;
		}
		.xl-grid-12 {
			float: left;
			width: 50%;
		}
		.xl-grid-13 {
			float: left;
			width: 54.17%;
		}
		.xl-grid-14 {
			float: left;
			width: 58.33%;
		}
		.xl-grid-15 {
			float: left;
			width: 62.5%;
		}
		.xl-grid-16 {
			float: left;
			width: 66.66%;
		}
		.xl-grid-17 {
			float: left;
			width: 70.83%;
		}
		.xl-grid-18 {
			float: left;
			width: 75%;
		}
		.xl-grid-19 {
			float: left;
			width: 79.16%;
		}
		.xl-grid-20 {
			float: left;
			width: 83.33%;
		}
		.xl-grid-21 {
			float: left;
			width: 87.5%;
		}
		.xl-grid-22 {
			float: left;
			width: 91.66%;
		}
		.xl-grid-23 {
			float: left;
			width: 95.83%;
		}
		.xl-grid-24 {
			float: left;
			width: 100%;
		}
	}
	.xl-hide {
		display: block;
	}
}
@media all and (min-width: 1600px) {
	#wrapper {
		max-width: 1560px;
	}
	.columns-6 {
		.xxl-grid-1 {
			float: left;
			width: 16.66%;
		}
		.xxl-grid-2 {
			float: left;
			width: 33.33%;
		}
		.xxl-grid-3 {
			float: left;
			width: 50%;
		}
		.xxl-grid-4 {
			float: left;
			width: 66.66%;
		}
		.xxl-grid-5 {
			float: left;
			width: 83.33%;
		}
		.xxl-grid-6 {
			float: left;
			width: 100%;
		}
		.xxl-grid-offset-1 {
			margin-left: 16.66%;
		}
		.xxl-grid-offset-2 {
			margin-left: 33.33%;
		}
		.xxl-grid-offset-3 {
			margin-left: 50%;
		}
		.xxl-grid-offset-4 {
			margin-left: 66.66%;
		}
		.xxl-grid-offset-5 {
			margin-left: 83.33%;
		}
		.xxl-grid-offset-6 {
			margin-left: 100%;
		}
	}
	.columns-12 {
		.xxl-grid-1 {
			float: left;
			width: 8.33%;
		}
		.xxl-grid-2 {
			float: left;
			width: 16.66%;
		}
		.xxl-grid-3 {
			float: left;
			width: 25%;
		}
		.xxl-grid-4 {
			float: left;
			width: 33.33%;
		}
		.xxl-grid-5 {
			float: left;
			width: 41.66%;
		}
		.xxl-grid-6 {
			float: left;
			width: 50%;
		}
		.xxl-grid-7 {
			float: left;
			width: 58.33%;
		}
		.xxl-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xxl-grid-9 {
			float: left;
			width: 75%;
		}
		.xxl-grid-10 {
			float: left;
			width: 83.33%;
		}
		.xxl-grid-11 {
			float: left;
			width: 91.66%;
		}
		.xxl-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.columns-24 {
		.xxl-grid-1 {
			float: left;
			width: 4.16%;
		}
		.xxl-grid-2 {
			float: left;
			width: 8.33%;
		}
		.xxl-grid-3 {
			float: left;
			width: 12.5%;
		}
		.xxl-grid-4 {
			float: left;
			width: 16.66%;
		}
		.xxl-grid-5 {
			float: left;
			width: 20.83%;
		}
		.xxl-grid-6 {
			float: left;
			width: 25%;
		}
		.xxl-grid-7 {
			float: left;
			width: 29.16%;
		}
		.xxl-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xxl-grid-9 {
			float: left;
			width: 35.5%;
		}
		.xxl-grid-10 {
			float: left;
			width: 41.66%;
		}
		.xxl-grid-11 {
			float: left;
			width: 45.83%;
		}
		.xxl-grid-12 {
			float: left;
			width: 50%;
		}
		.xxl-grid-13 {
			float: left;
			width: 54.17%;
		}
		.xxl-grid-14 {
			float: left;
			width: 58.33%;
		}
		.xxl-grid-15 {
			float: left;
			width: 62.5%;
		}
		.xxl-grid-16 {
			float: left;
			width: 66.66%;
		}
		.xxl-grid-17 {
			float: left;
			width: 70.83%;
		}
		.xxl-grid-18 {
			float: left;
			width: 75%;
		}
		.xxl-grid-19 {
			float: left;
			width: 79.16%;
		}
		.xxl-grid-20 {
			float: left;
			width: 83.33%;
		}
		.xxl-grid-21 {
			float: left;
			width: 87.5%;
		}
		.xxl-grid-22 {
			float: left;
			width: 91.66%;
		}
		.xxl-grid-23 {
			float: left;
			width: 95.83%;
		}
		.xxl-grid-24 {
			float: left;
			width: 100%;
		}
	}
	.xxl-hide {
		display: block;
	}
}
