*{
	box-sizing: border-box;
}
#wrapper {
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
}
.clear {
	clear: both;
}
/********************/
/*	RESPONSIVE		*/
/********************/
@media all and (min-width: 640px) {
	#wrapper {
		max-width: 600px;
	}
	.columns-6 {
		.xs-grid-1 {
			position: relative;
			float: left;
			width: 16.66%;
			padding: 0 20px;
		}
		.xs-grid-2 {
			position: relative;
			float: left;
			width: 33.33%;
			padding: 0 20px;
		}
		.xs-grid-3 {
			position: relative;
			float: left;
			width: 50%;
			padding: 0 20px;
		}
		.xs-grid-4 {
			position: relative;
			float: left;
			width: 66.66%;
			padding: 0 20px;
		}
		.xs-grid-5 {
			position: relative;
			float: left;
			width: 83.33%;
			padding: 0 20px;
		}
		.xs-grid-6 {
			position: relative;
			float: left;
			width: 100%;
			padding: 0 20px;
		}
	}
}
@media all and (min-width: 768px) {
	#wrapper {
		max-width: 728px;
	}
}
@media all and (min-width: 992px) {
	#wrapper {
		max-width: 952px;
	}
}
@media all and (min-width: 1200px) {
	#wrapper {
		max-width: 1160px;
	}
}
@media all and (min-width: 1400px) {
	#wrapper {
		max-width: 1360px;
	}
}
@media all and (min-width: 1600px) {
	#wrapper {
		max-width: 1560px;
	}
}