*{
	box-sizing: border-box;
}
body {
	font-family: "openSans";
}
#wrapper {
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
}
.clear {
	clear: both;
}
.raw {
	margin: 0 -20px;
}
.xs-grid-1, .xs-grid-2, .xs-grid-3, .xs-grid-4, .xs-grid-5, .xs-grid-6, .xs-grid-7, .xs-grid-8, .xs-grid-9, .xs-grid-10, .xs-grid-11, .xs-grid-12,
.s-grid-1, .s-grid-2, .s-grid-3, .s-grid-4, .s-grid-5, .s-grid-6, .s-grid-7, .s-grid-8, .s-grid-9, .s-grid-10, .s-grid-11, .s-grid-12,
.m-grid-1, .m-grid-2, .m-grid-3, .m-grid-4, .m-grid-5, .m-grid-6, .m-grid-7, .m-grid-8, .m-grid-9, .m-grid-10, .m-grid-11, .m-grid-12,
.l-grid-1, .l-grid-2, .l-grid-3, .l-grid-4, .l-grid-5, .l-grid-6, .l-grid-7, .m-grid-8, .m-grid-9, .m-grid-10, .m-grid-11, .m-grid-12,
.xl-grid-1, .xl-grid-2, .xl-grid-3, .xl-grid-4, .xl-grid-5, .xl-grid-6, .xl-grid-7, .xl-grid-8, .xl-grid-9, .xl-grid-10, .xl-grid-11, .xl-grid-12,
.xxl-grid-1, .xxl-grid-2, .xxl-grid-3, .xxl-grid-4, .xxl-grid-5, .xxl-grid-6, .xxl-grid-7, .xxl-grid-8, .xxl-grid-9, .xxl-grid-10, .xxl-grid-11, .xxl-grid-12 {
	position: relative;
	padding: 0 20px;
}
.xs-hide, .s-hide, .m-hide, .l-hide, .xl-hide, .xxl-hide {
	display: none;
}
/********************/
/*	RESPONSIVE		*/
/********************/
@media all and (min-width: 640px) {
	#wrapper {
		max-width: 600px;
	}
	.columns-6 {
		.xs-grid-1 {
			float: left;
			width: 16.66%;
		}
		.xs-grid-2 {
			float: left;
			width: 33.33%;
		}
		.xs-grid-3 {
			float: left;
			width: 50%;
		}
		.xs-grid-4 {
			float: left;
			width: 66.66%;
		}
		.xs-grid-5 {
			float: left;
			width: 83.33%;
		}
		.xs-grid-6 {
			float: left;
			width: 100%;
		}
	}
	.columns-12 {
		.xs-grid-1 {
			float: left;
			width: 8.33%;
		}
		.xs-grid-2 {
			float: left;
			width: 16.66%;
		}
		.xs-grid-3 {
			float: left;
			width: 25%;
		}
		.xs-grid-4 {
			float: left;
			width: 33.33%;
		}
		.xs-grid-5 {
			float: left;
			width: 41.66%;
		}
		.xs-grid-6 {
			float: left;
			width: 50%;
		}
		.xs-grid-7 {
			float: left;
			width: 58.33%;
		}
		.xs-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xs-grid-9 {
			float: left;
			width: 75%;
		}
		.xs-grid-10 {
			float: left;
			width: 83.33%;
		}
		.xs-grid-11 {
			float: left;
			width: 91.66%;
		}
		.xs-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.xs-hide {
		display: block;
	}
}
@media all and (min-width: 768px) {
	#wrapper {
		max-width: 728px;
	}
	.columns-6 {
		.s-grid-1 {
			float: left;
			width: 16.66%;
		}
		.s-grid-2 {
			float: left;
			width: 33.33%;
		}
		.s-grid-3 {
			float: left;
			width: 50%;
		}
		.s-grid-4 {
			float: left;
			width: 66.66%;
		}
		.s-grid-5 {
			float: left;
			width: 83.33%;
		}
		.s-grid-6 {
			float: left;
			width: 100%;
		}
	}
	.columns-12 {
		.s-grid-1 {
			float: left;
			width: 8.33%;
		}
		.s-grid-2 {
			float: left;
			width: 16.66%;
		}
		.s-grid-3 {
			float: left;
			width: 25%;
		}
		.s-grid-4 {
			float: left;
			width: 33.33%;
		}
		.s-grid-5 {
			float: left;
			width: 41.66%;
		}
		.s-grid-6 {
			float: left;
			width: 50%;
		}
		.s-grid-7 {
			float: left;
			width: 58.33%;
		}
		.s-grid-8 {
			float: left;
			width: 66.66%;
		}
		.s-grid-9 {
			float: left;
			width: 75%;
		}
		.s-grid-10 {
			float: left;
			width: 83.33%;
		}
		.s-grid-11 {
			float: left;
			width: 91.66%;
		}
		.s-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.s-hide {
		display: block;
	}
}
@media all and (min-width: 992px) {
	#wrapper {
		max-width: 952px;
	}
	.columns-6 {
		.m-grid-1 {
			float: left;
			width: 16.66%;
		}
		.m-grid-2 {
			float: left;
			width: 33.33%;
		}
		.m-grid-3 {
			float: left;
			width: 50%;
		}
		.m-grid-4 {
			float: left;
			width: 66.66%;
		}
		.m-grid-5 {
			float: left;
			width: 83.33%;
		}
		.m-grid-6 {
			float: left;
			width: 100%;
		}
	}
	.columns-12 {
		.m-grid-1 {
			float: left;
			width: 8.33%;
		}
		.m-grid-2 {
			float: left;
			width: 16.66%;
		}
		.m-grid-3 {
			float: left;
			width: 25%;
		}
		.m-grid-4 {
			float: left;
			width: 33.33%;
		}
		.m-grid-5 {
			float: left;
			width: 41.66%;
		}
		.m-grid-6 {
			float: left;
			width: 50%;
		}
		.m-grid-7 {
			float: left;
			width: 58.33%;
		}
		.m-grid-8 {
			float: left;
			width: 66.66%;
		}
		.m-grid-9 {
			float: left;
			width: 75%;
		}
		.m-grid-10 {
			float: left;
			width: 83.33%;
		}
		.m-grid-11 {
			float: left;
			width: 91.66%;
		}
		.m-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.m-hide {
		display: block;
	}
}
@media all and (min-width: 1200px) {
	#wrapper {
		max-width: 1160px;
	}
	.columns-6 {
		.l-grid-1 {
			float: left;
			width: 16.66%;
		}
		.l-grid-2 {
			float: left;
			width: 33.33%;
		}
		.l-grid-3 {
			float: left;
			width: 50%;
		}
		.l-grid-4 {
			float: left;
			width: 66.66%;
		}
		.l-grid-5 {
			float: left;
			width: 83.33%;
		}
		.l-grid-6 {
			float: left;
			width: 100%;
		}
	}
	.columns-12 {
		.l-grid-1 {
			float: left;
			width: 8.33%;
		}
		.l-grid-2 {
			float: left;
			width: 16.66%;
		}
		.l-grid-3 {
			float: left;
			width: 25%;
		}
		.l-grid-4 {
			float: left;
			width: 33.33%;
		}
		.l-grid-5 {
			float: left;
			width: 41.66%;
		}
		.l-grid-6 {
			float: left;
			width: 50%;
		}
		.l-grid-7 {
			float: left;
			width: 58.33%;
		}
		.l-grid-8 {
			float: left;
			width: 66.66%;
		}
		.l-grid-9 {
			float: left;
			width: 75%;
		}
		.l-grid-10 {
			float: left;
			width: 83.33%;
		}
		.l-grid-11 {
			float: left;
			width: 91.66%;
		}
		.l-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.l-hide {
		display: block;
	}
}
@media all and (min-width: 1400px) {
	#wrapper {
		max-width: 1360px;
	}
	.columns-6 {
		.xl-grid-1 {
			float: left;
			width: 16.66%;
		}
		.xl-grid-2 {
			float: left;
			width: 33.33%;
		}
		.xl-grid-3 {
			float: left;
			width: 50%;
		}
		.xl-grid-4 {
			float: left;
			width: 66.66%;
		}
		.xl-grid-5 {
			float: left;
			width: 83.33%;
		}
		.xl-grid-6 {
			float: left;
			width: 100%;
		}
	}
	.columns-12 {
		.xl-grid-1 {
			float: left;
			width: 8.33%;
		}
		.xl-grid-2 {
			float: left;
			width: 16.66%;
		}
		.xl-grid-3 {
			float: left;
			width: 25%;
		}
		.xl-grid-4 {
			float: left;
			width: 33.33%;
		}
		.xl-grid-5 {
			float: left;
			width: 41.66%;
		}
		.xl-grid-6 {
			float: left;
			width: 50%;
		}
		.xl-grid-7 {
			float: left;
			width: 58.33%;
		}
		.xl-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xl-grid-9 {
			float: left;
			width: 75%;
		}
		.xl-grid-10 {
			float: left;
			width: 83.33%;
		}
		.xl-grid-11 {
			float: left;
			width: 91.66%;
		}
		.xl-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.xl-hide {
		display: block;
	}
}
@media all and (min-width: 1600px) {
	#wrapper {
		max-width: 1560px;
	}
	.columns-6 {
		.xxl-grid-1 {
			float: left;
			width: 16.66%;
		}
		.xxl-grid-2 {
			float: left;
			width: 33.33%;
		}
		.xxl-grid-3 {
			float: left;
			width: 50%;
		}
		.xxl-grid-4 {
			float: left;
			width: 66.66%;
		}
		.xxl-grid-5 {
			float: left;
			width: 83.33%;
		}
		.xxl-grid-6 {
			float: left;
			width: 100%;
		}
	}
	.columns-12 {
		.xxl-grid-1 {
			float: left;
			width: 8.33%;
		}
		.xxl-grid-2 {
			float: left;
			width: 16.66%;
		}
		.xxl-grid-3 {
			float: left;
			width: 25%;
		}
		.xxl-grid-4 {
			float: left;
			width: 33.33%;
		}
		.xxl-grid-5 {
			float: left;
			width: 41.66%;
		}
		.xxl-grid-6 {
			float: left;
			width: 50%;
		}
		.xxl-grid-7 {
			float: left;
			width: 58.33%;
		}
		.xxl-grid-8 {
			float: left;
			width: 66.66%;
		}
		.xxl-grid-9 {
			float: left;
			width: 75%;
		}
		.xxl-grid-10 {
			float: left;
			width: 83.33%;
		}
		.xxl-grid-11 {
			float: left;
			width: 91.66%;
		}
		.xxl-grid-12 {
			float: left;
			width: 100%;
		}
	}
	.xxl-hide {
		display: block;
	}
}
