header {
    height: 70px;
    line-height: 70px;
}
nav ul > li {
    display: inline-block;
}
nav ul > li > a {
    padding: 0 10px;
}
nav ul > li.current > a {
    background: #3498DB;
}
#logo {
    float: left;
    font-size: 36px;
}
