
header {
    height: auto;
    line-height: 60px;
    #logo {
	    float: left;
	    font-size: 36px;
	    text-align: center;
	}
	@media all and (min-width: 768px) {
		#logo {
			text-align: left;
		}
	}
    nav ul > li {
    	display: inline-block;
    	a {
    		padding: 0 10px;
    	}
    }
    nav ul > li.current > a {
		background: #3498DB;
	}
	.btn-menu {
		position: absolute;
		top: 7px;
		right: 15px;
	}
}
.main {
	.download {
		.btn {
			color: #3498DB;
		}
	}
	.title-second {
		margin-bottom: 20px;
	}
}
.desc,
.download {
    margin-bottom: 30px;
}
