@import '_couleurs';
@import '_mixins';
@import '_reset';
@import '_transition';
@import '_structure';

/****************/
/*     TEXTE    */
/****************/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.italic {
    font-style: italic;
}

.right {
	float: right;
}
.left {
	float: left;
}

a,
a:hover,
a:focus,
a:visited {
	display: inline-block;
	color: $white;
	text-decoration: none;
}

h1 {
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: $text;
}

p {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4;
	color: $text;
}

.title-first {
	padding-top: 60px;
}

/*********************/
/*     TRANSITION    */
/*********************/
.ease {
    @include transition(all ease 0.3s);
}
.linear {
    @include transition(all linear 0.3s);
}
.ease-in {
    @include transition(all ease-in 0.3s);
}
.ease-out {
    @include transition(all ease-out 0.3s);
}
.ease-in-out {
    @include transition(all ease-in-out 0.3s);
}

/*****************/
/*     SHADOW    */
/*****************/
.shadow-light {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
}

/*******************/
/*     COULEURS    */
/*******************/
.blue-light {
	background: $blue-light;
}
.blue-light-hover:hover {
    background: $blue-light-hover;
}
.blue-medium {
	background: $blue-medium;
}

/******************/
/*      BOUTON    */
/******************/
.btn {
	padding: 8px 12px;
    transform: translateY(0px);
}
.btn-large {
    padding: 14px 20px;
}
.btn:hover {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
    transform: translateY(-3px);
}
