@import '_couleurs';
@import '_mixins';
@import '_reset';
@import '_structure';

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

a,
a:hover,
a:focus,
a:visited {
	display: inline-block;
	color: $white;
	text-decoration: none;
}

h1 {
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: $text;
}

p {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4;
	color: $text;
}

.title-first {
	padding-top: 60px;
}

.shadow-light {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
}

.blue-light {
	background: $blue-light;
}
.blue-medium {
	background: $blue-medium;
}

.btn {
	padding: 8px 12px;
    transform: translateY(0px);
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.btn:hover {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
    transform: translateY(-3px);
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

#logo {
    float: left;
    font-size: 36px;
    color: $text;
}
