@import '_couleurs';
@import '_border';
@import '_mixins';
@import '_reset';
@import '_structure';

.img-responsiv {
	max-width: 100%;
	height: auto;
}

/****************/
/*     TEXTE    */
/****************/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.italic {
    font-style: italic;
}

.right {
	float: right;
}
.left {
	float: left;
}

a,
a:hover,
a:focus,
a:visited {
	display: inline-block;
	color: $white;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 30px;
	font-weight: 600;
	text-align: center;
	color: $text;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}

p {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4;
	color: $text;
}

.title-first {
	padding-top: 60px;
}
.title-second {
	padding-top: 40px;
}

.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
str {
	text-decoration: line-through;
}
u {
	text-decoration: underline;
}

/*********************/
/*     TRANSITION    */
/*********************/
.ease {
    @include transition(all ease 0.3s);
}
.linear {
    @include transition(all linear 0.3s);
}
.ease-in {
    @include transition(all ease-in 0.3s);
}
.ease-out {
    @include transition(all ease-out 0.3s);
}
.ease-in-out {
    @include transition(all ease-in-out 0.3s);
}

/*****************/
/*     SHADOW    */
/*****************/
.shadow-light {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
}
.shadow-article {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
}
.btn.shadow-light:hover, .btn.shadow-light:focus {
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
}

/*******************/
/*     COULEURS    */
/*******************/
.blue-light {
	background: $blue-light;
}
.blue-light-hover:hover {
    background: $blue-light-hover;
}
.blue-medium {
	background: $blue-medium;
}

/*************************/
/*      BORDER RADIUS    */
/*************************/
.border-radius-100 {
	@include border-radius(50px);
}

/******************/
/*      BORDER    */
/******************/
.border-blue {
	border: $border-blue;
}
.border-blue-explode {
	border: 1px solid transparent;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: $blue-light;
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.border-blue-explode:hover,
.border-blue-explode:focus {
	border: 1px solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 10px;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

/******************/
/*      BOUTON    */
/******************/
.btn {
	padding: 8px 12px;
}
.btn-large {
    padding: 14px 20px;
}
.btn-up, .btn-down {
	transform: translateY(0px);
}
.btn-left, .btn-right {
	transform: translateX(0px);
}
.btn-up:hover, .btn-up:focus {
	transform: translateY(-3px);
}
.btn-down:hover, .btn-down:focus {
	transform: translateY(3px);
}
.btn-left:hover, .btn-left:focus {
	transform: translateX(-3px);
}
.btn-right:hover, .btn-right:focus {
	transform: translateX(3px);
}
.btn-menu {
	width: 45px;
	height: 45px;
	padding: 9px 0;
	background: $red-menu;
	span {
		display: block;
		width: 30px;
		height: 2px;
		margin: 5px auto;
		background: $white;
	}
}

/*******************/
/*      ARTICLE    */
/*******************/
article {
	padding: 20px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
